body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body * {
  scroll-behavior: smooth;

}

.navbar {
  padding: 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}

.navbar-nav .nav-link:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.feature-image {
  position: relative;
  height: 90vh;
  width: 100%;
}

.feature-image * {
  position: relative;
  z-index: 2;
}

.scroller {
  position: absolute;
  width: 100%;
  height: 90vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 0;
}

.scroller img {
  width: 100%;
  height: 100%;
}


.home-section {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  z-index: 1;
}

.container-fluid {
  color: #ffffff;
  position: relative;
  z-index: 2;
}

.card {
  margin-bottom: 20px;
}

.card-img-top {
  max-height: 100px;
  margin: auto;
  padding: 20px;
}

.skills {
  min-width: 250px;
  max-width: 500px;
  width: 100%;
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(calc(50% - 40px), 1fr));
  gap: 20px;
}

.skills .card {
  padding: 10px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.skills .card:hover {
  scale: 1.1;
}






.users {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

#email {
  text-wrap: nowrap;
  font-size: 13px;
  line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

#description {
  text-wrap: nowrap;
  font-size: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
}